.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 12lvh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 980 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container h1 {
    position: absolute;
    left: 0;
    padding: 0 2lvw;
    font-family: 'ArrayFont', sans-serif;
    font-size: clamp(1rem, 3vw, 4rem);
    color: black;
}

.header-nav {
    position: relative;
    width: clamp(200px, 50vw, 1000px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 990;
}

.brand-letter {
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .brand-letter-space {
    display: inline-block;
    width: 0.5em;
  }