.landing-page-container {
    position: relative;
    top: 0;
    width: 100lvw;
    height: 100lvh;
}

.lanyard-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100lvh;
    width: 100lvw;
}

.landing-page-text-container {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 0 0 15lvh 3lvw;
    pointer-events: none;
}

.landing-page-text-container h1 {
    font-family: 'DaVinci Regular', sans-serif;
    font-size: clamp(4rem, 8vw, 9rem);
    text-wrap: avoid;
    color: black;
    text-align: left;
    margin: 0;
    line-height: 85%;
    width: 85%;
}

.landing-page-text-container h1 span {
    font-family: 'DaVinci Italic', sans-serif;
    color: #0077b6;
}

.landing-page-text-container-2 {
    position: relative;
    width: 100lvw;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.landing-page-text-container-2-content-wrapper {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: white;
    padding: 12vh 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: 0 20px 50px 20px var(--text-color);
}

.landing-page-text-container-2-content-wrapper-title {
    font-family: 'DaVinci Italic', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    text-wrap: balance;
    color: var(--text-color);
    padding: 3rem;
}

