.landing-page {
    position: relative;
    width: 100vw;
    height: auto;
}

.landing-page-container {
    position: sticky;
    top: 0;
    width: 100lvw;
    height: 100lvh;
}

.lanyard-container {
    position: absolute;
    height: 100lvh;
    width: 100lvw;
    z-index: 10;
}

.landing-page-text-container {
    position: relative;
    top: 10px;
    width: 100lvw;
    height: 100lvh;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 0 0 15lvh 3lvw;
    pointer-events: none;
}

.landing-page-text-container h1 {
    font-family: 'DaVinci Regular', sans-serif;
    font-size: clamp(4rem, 8vw, 9rem);
    text-wrap: balance;
    color: var(--text-color);
    text-align: left;
    margin: 0;
    line-height: 85%;
    width: 85%;
}

.landing-page-text-container h1 span {
    font-family: 'DaVinci Italic', sans-serif;
    color: #0077b6;
}

.landing-page-text-container-2 {
    position: relative;
    width: 100lvw;
    height: 100lvh;
    max-height: 100lvh;
    display: flex;
    flex-direction: column;
}

.mouse-scroll-anim {
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
}

.mouse-scroll-anim svg {
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    opacity: 0.5;
}

.mouse-scroll-anim svg:hover {
    opacity: 1;
}

.landing-page-text-container-2-content-wrapper {
    position: relative;
    width: inherit;
    height: inherit;
    background-color: white;
    padding: 12vh 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.landing-page-text-container-2-content-wrapper-title {
    font-family: 'DaVinci Italic', sans-serif;
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    text-wrap: balance;
    color: var(--text-color);
    padding: 3rem;
    text-align: center;
}

.landing-page-text-container-2-content-wrapper-title p:nth-child(2) {
    padding-top: 1.5rem;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
    color: #555555;
}

.landing-page-text-container-2-content-wrapper-picture {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    position: relative;
    width: 100vw;
    height: 50vh;
    max-height: 50vh;
    overflow: visible;
    cursor: grab;
}

#canvas:active {
    cursor: grabbing;
}

.landing-page-text-container-2-extra-info {
    position: relative;
    width: 100%;
    height: 20lvh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-top: -2rem;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.landing-page-text-container-2-extra-info svg {
    position: relative;
    width: auto;
    height: 25px;
    overflow: visible;
}

.landing-page-text-container-2-extra-info p {
    font-family: 'DaVinci Italic', sans-serif;
    font-size: clamp(1rem, 1vw, 1.2rem);
    text-transform: lowercase;
    text-wrap: balance;
    color: #616161;
    text-align: center;
    line-height: 25px;
    vertical-align: center;
}

.arrow-hold {
    padding: 0 0.8rem;
}

.landing-page-text-container-3 {
    position: relative;
    width: 100lvw;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

@media (max-width: 768px) {

    .landing-page-text-container h1 {
        font-size: clamp(3rem, 6vw, 8rem);
        text-wrap: keep-all;
        text-align: center;
        width: 90%;
    }

    .landing-page-text-container {
        align-items: center;
        justify-content: center;
        padding: 0;
        pointer-events: none;
    }

    .mouse-scroll-anim {
        padding: 0 0 2rem 0;
    }
}