*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: black;
}

@font-face {
  font-family: 'DaVinci Bold';
  src: url('./fonts/TRJNDaVinci-Bold-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Heavy';
  src: url('./fonts/TRJNDaVinci-Heavy-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Italic';
  src: url('./fonts/TRJNDaVinciItalic-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Light';
  src: url('./fonts/TRJNDaVinci-Light-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Medium';
  src: url('./fonts/TRJNDaVinci-Medium-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Regular';
  src: url('./fonts/TRJNDaVinci-Regular-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Semibold';
  src: url('./fonts/TRJNDaVinci-Semibold-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'DaVinci Thin';
  src: url('./fonts/TRJNDaVinci-Thin-Trial.ttf') format('truetype');
}


@font-face {
  font-family: 'ArrayFont';
  src: url('./fonts/Array-Regular.eot');
  src: url('./fonts/Array-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Array-Regular.woff2') format('woff2'),
    url('./fonts/Array-Regular.woff') format('woff'),
    url('./fonts/Array-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Khand-Light';
  src: url('./fonts/Khand-Light.woff2') format('woff2'),
    url('./fonts/Khand-Light.woff') format('woff'),
    url('./fonts/Khand-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Khand-Regular';
  src: url('./fonts/Khand-Regular.woff2') format('woff2'),
    url('./fonts/Khand-Regular.woff') format('woff'),
    url('./fonts/Khand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Khand-Medium';
  src: url('./fonts/Khand-Medium.woff2') format('woff2'),
    url('./fonts/Khand-Medium.woff') format('woff'),
    url('./fonts/Khand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  width: 100lvw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}